<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href = "/css/auths.css">
<head>
        <title>Login</title>
</head>
<body>
  <header>
  <div class="header">
    <img src="/img/ust_logo_name.png" id="ust-logo"/>
    <img src="/img/IICS_Logo.png" id="iics-logo"/>
  </header>
    <div>
      <center><h1>Log in</h1></center> 
    </div>
    <div class="container center">
      <div class="grayline"></div>
      <% if(errorMessage) { %>
      <center><div><%= errorMessage %></div></center>
      <% } %>
      <form action="/auth/login" method="POST">
        <div class="form-control">
          <h4>Email Address</h4>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="form-control loginPass">
          <h4>Password</h4>
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="form-links">
          <h5>Dont have an account? 
            <a href="/auth/student-register">Register as student</a> or
            <a href="/auth/faculty-register">Register as faculty</a>
          </h5>
        </div>
        <div class="form-button">
          <center><button type="submit">Login</button></center>
        </div>
        <div class="form-links">
          <center><a href="/auth/forgot-password">Forgot Password?</a></center>
        </div>
        <div class="form-links">
          <center><a href="https://docs.google.com/document/d/1MVZZAVgNXVd1DiKrVya-uEn1kORb8Mp3Ezru1qQpCsE/edit?usp=sharing" target="_blank">Click here for the tutorial</a></center>
        </div>
      </form>
    </div>

</body>
</html>
