<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/links.ejs') %>
    <link rel="stylesheet" href="/css/update-account.css">
    <title>Home</title>
</head>
<body>
    <%- include ('partials/navigation.ejs') %>

    <div class="container">
        <div class="header">
            <h1>Update Password</h1>
        </div>
        <form action="/auth/change-password" method="POST">
            <div class="card">
                <div class="card-items">
                    <label for="oldPassword">Current Password</label>
                    <input type="password" name="oldPassword">
                </div>
                <div class="card-items">
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword"> 
                </div>
                <div class="card-items">
                    <button type="submit">Update Password</button>
                </div>
            </div>  
        </form>
        
    </div>
</body>
</html>