body {
  margin: 0;
  box-sizing: 0;
}

.container.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-control {
  height: 5rem;
}

.form-control h4 {
  margin-block: 5px;
}

.header { 
  background: #FCBF15;
  padding: 20px;
  height: 150px;
  display: flex;
}

.grayline{ 
  background: #C1C1C1;
  width: 35%;
  height:5px;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

input, select {
  font-size:20px;
  box-sizing: border-box;
  background: #fffdfd;
  width:500px;
  height:2.5rem;
  border-radius: 5px 5px 5px 5px;
}

.loginPass {
  margin-bottom: -1.5rem;
}

.form-button {
  margin-block: 1.5rem;
}

button {
  background-color: #3164F4;
  border: none;
  color: white;
  width:150px;
  height:40px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.form-links {
  margin-block: 0.5rem;
}

#iics-logo {
  width: 130px;
  margin: 0px 0px 0.5rem 0.5rem;
}

#ust-logo {
  margin-right: auto;
}