body {
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-inline: 250px 100px;
    padding: 20px;
}

.header {
    border-bottom: 2px solid grey;
    width: 78rem;
    margin-bottom: 1.5rem;
  }

.container .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 87%;
    display: flex;
    align-items: center;
}

.container .card-actions {
    display: flex;
    justify-content: space-between; /* center buttons */
    align-items: center;
}

.container .card-actions form {
    display: flex;
}

.container button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-control {
    width: 100%;
    padding: 5px 5px;
}


