body {
    overflow-x: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-left: 250px;
  margin-right:3%;
}

.header {
    border-bottom: 1px solid grey;
    width: 100%;
    margin-bottom: 1.5rem;
  }

.container .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .card-actions {
    display: flex;
    justify-content: space-between; /* center buttons */
    align-items: center;
}

.container .card-actions form {
    display: flex;
}

.container button {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 0rem 1rem;
    cursor: pointer;
    height: 1.8rem;
}
.container button:hover {
    background-color: rgba(211, 211, 211, 0.8);
}

.form-control {
    width: 100%;
    padding: 5px 5px;
}


