body {
    overflow-x: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-left: 250px;
  margin-right:3%;
}

.header {
  margin-left: 0.75rem;
  margin-top: 1rem;
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 1.5rem;
}

.container form {
    width: 50%;
    margin-left: 2rem;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #231F20;
    border-radius: 4px;
}

.form-list {
  margin-left: 0.75rem;
  margin-top: 1rem;
  border-top: 1px solid grey;
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-control-2 {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #231F20;
    border-radius: 4px;
}

.form-control-2 .s {
    width: 100%;
    margin: 0;
}

.form-control-2 button {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 0rem 1rem;
    cursor: pointer;
    height: 1.8rem;
}
.container button:hover {
    background-color: rgba(211, 211, 211, 0.8);
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .btn {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 0rem 3rem;
    cursor: pointer;
    height: 1.8rem;
    margin-top: 1rem;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #444;
  }
  
  option {
    color: #444;
  }
  
