.container {
    width: 90%;
    margin: 0 auto;
    margin-inline: 250px 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.container form {
    width: 50%;
    margin-left: 7rem;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.container .btn {
    width: 30%;
    padding-block: 1rem;
    display: block;
}

