.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-left: 250px;
  margin-right:3%;
}

.header {
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 1.5rem;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.card-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-group .form-control, .add-group h4{
  margin-block: 0px;
}

.add-group input[type="text"] {
  margin-block: 1rem;
}

.card-group .group-columns {
  max-width: 10rem;
}

.card-faculty {
  flex-basis: 45%;
}

.card-container {
  flex-basis: 35%;
}

.filter-card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.container button {
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 0rem 1rem;
    cursor: pointer;
    height: 1.8rem;
}


label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  width: 98%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  font-weight: 600;
}

