.container {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 1%;
}

.header {
  margin-left: 1%;
  margin-top: 1rem;
  border-bottom: 2px solid grey;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.5rem;
}

.card h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.container button {
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
  padding: 0rem 1rem;
  cursor: pointer;
  height: 1.8rem;
  margin-top:1rem;
}

.card .green-button {
  background-color: green;
  color: white;
}

.card .red-button {
  background-color: rgb(213, 65, 65); /* Use an appropriate shade of red */
  color: #fff; /* Set text color to white */
  border: none; /* Remove button border */
  border-radius: 4px; /* Add some border radius for rounded edges */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.input-boxes {
  border-radius: 4px; /* adjust the value as per your need */
  padding: 5.5px;
  border: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .column {
    flex-basis: calc(50% - 10px);
  }
}