   body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  
  }
  .sidebar{
    background:  #231F20;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
  }
  .sidebar .image{
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
  }
  
  .sidebar a, .dropdown{
    color: #FCBF15;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 50px;
    box-sizing: border-box;
  }
  .sidebar a1{
    color: #FCBF15;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    margin-top: 90px;
  
  }

  .sidebar button {
    background: none;
    color: #FCBF15;
    line-height: 80px;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

.sidebar a i {
  padding-right: 7.5px;
} 



