body {
  overflow-x: hidden;
}

.header {
  border-bottom: 2px solid grey;
  width: 78rem;
  margin-bottom: 1.5rem;
}

.container {
    margin: 0 auto;
    margin-left: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container-top {
    display: flex;
    padding-bottom: 1.5rem;
    width: 78rem;
    border-bottom: 2px solid black;
    margin-top: 1rem;
}

a {
  text-decoration: none;
}

.container-top .members {
  margin-right: 3rem;
}

.container-top .pdf-viewer {
    width: 60%;
    padding-inline: 1rem;
}

.container-top .status-log {
  position: relative;
  width: 30%;
  padding-inline: 20px;
  border-style: dashed;

}

.status, .names {
  padding-top: 20px;
}

.container-top .status-log .buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
}


/* Comment section */
.comment-section {
    margin-top: 20px;
  }
  
  .comment-section h2 {
    font-size: 1.5rem;
  }
  
  .comment-section form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .comment-section form button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .comment-section .comments {
    margin-top: 20px;
  }
  
  .comment-section .comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-section .comment h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .comment-section .comment p {
    margin-bottom: 5px;
  }
  
  .comment-section .comment .timestamp {
    font-size: 0.8rem;
    color: #777;
  }
  