<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">  
    <link rel="stylesheet" href="/css/roles.css">
    <link rel="stylesheet" href="/css/form-submit.css">
    <title>Home</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>

<div class="container">
        <h1>Assign Role/s:</h1>
    <form action="/faculty/activities/roles" method="POST">
        <div class="form-control">
            <h4>Course Department Chair</h4>
            <input type="text" name="email">
            <button value="course-department-chair" name="role" type="submit">Assign Role</button>
        </div>
        <div class="form-control">
            <h4>Course Coordinator</h4>
            <input type="text" name="email">
            <button value="course-coordinator" name="role" type="submit">Assign Role</button>
        </div>
        <div class="form-control">
            <h4>Course Facilitator</h4>
            <input type="text" name="email">
            <label for="section">Section: </label>
            <select name="section" id="section">
              <option value="3isa">3ISA</option>
              <option value="3isb">3ISB</option>
            </select>
            <button value="course-facilitator" name="role" type="submit">Assign Role</button>
        </div>
        <div class="form-control">
            <h4>Track Head</h4>
            <input type="text" name="email">
            <button value="track-head" name="role" type="submit">Assign Role</button>
        </div>
    </form>
</div>

</body>
