<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navigation.css">
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <ul><a href="/student/home">Home</a></ul>
            <ul><a href="/student/home">Activities</a></ul>
            <ul><a href="/student/home">Capstone Project</a></ul>
            <ul><a href="/student/home">Group</a></ul>
            <ul><a href="/student/home">Logout</a></ul>
        </nav>
        <div class="main-content">
            <header class="header">Welcome Home</header>
            <div class="info">
                <div>lorem lorem</div>
            </div>
        </div>
    </div>
</body>
</html>